# Basics

In [1]:
# Hello world program

print('Hello world') # printing hello world text

Hello world

In [8]:
# Kewords
def function(): # defing an user defined function
    num = (input("Enter a word: ")) # taking input from user and storing in num variable
    print(num) # printing the user's output
function() #calling a function 


# In this example def,print are the keywords

Enter a word: Example of keywords
Example of keywords

In [9]:
# Identifiers
def functionname(): # defining an user defined function
    num = (input("Enter a word: ")) # taking input from user and storing num variable
    print(num) # print the input of user 
functionname() # calling a function


# In this example functionname, num are the identifers

Enter a word: example of identifiers
example of identifiers

In [16]:
"""
Data types
Numerical data type consists of 1) Int 2) float 3) complex 

"""
#Example of Int data type

num = int(input("Enter a number: ")) # taking input from user and storing in num variable
type(num) #printing the data type of variable

Enter a number: 23

int

In [18]:
# Example of float data type

num = float(input("Enter a number: ")) # taking input from user and storing num variable
print(num) # printing a user's input 
type(num) # printing the data type of variable

Enter a number: 12
12.0

float

In [19]:
# Example of complex number

num = complex(input("Enter a number: ")) #taking input from user and storing in num variable
print(num) # printing a user's input 
type(num) # printing type of varaible

Enter a number: 3+4j
(3+4j)

complex

In [20]:
# Sequential Data type consists of 1) list 2) Tuple 3) Set 4) Dictionary 5) String

# Example of list data type

l1 = [1,2,3,4] #creating and storing elements in list l1
print(l1) # printing the list
type(l1) # printing the type of list

[1, 2, 3, 4]

list

In [21]:
# Example of Tuple data type

t1 = (1,2,3,4) # creating and storing elements in tuple t1 variable
print(t1) # printing the tuple 
type(t1) # printing the type of t1 varialbe

(1, 2, 3, 4)

tuple

In [23]:
# Example of Set data type

s1 = {1,2,3,4} # creating and storing elements in set s1 vairable
print(s1) # printing the set
type(s1) # printing the type of s1 variable

{1, 2, 3, 4}

set

In [25]:
# Example of Dictionary data type

D1 = {1:'First_Name',2:'second_Name',3:'Last_Name'} #creating and storing the keys and values in dictionary D1 variable
print(D1) # printing the Dictionary D1 variable
type(D1) # printing the type of variable D1

{1: 'First_Name', 2: 'second_Name', 3: 'Last_Name'}

dict

In [29]:
# Example of String data type

s1 = 'This is string' # creating and storing string in s1 variable
print(s1) # printing the string s1 variable
type(s1) #printing the type of s1 variable

This is string

str

In [30]:
# Example of boolean data type

b1 = True #creating and assigning the boolean value in b1 variable
print(b1) # printing the b1 variable
type(b1) # printing the type of variable b1

True

bool

In [39]:
#Slicing operations on List, tuple, String

l1 =[1,2,3,4,5,6,7,8,9] # list created and stored in l1 variable
print(f"The original list {l1}")
l2=l1[2:7:2] # slicing operation [start_value:end_value:step]
print(f"After slicing operation generated list is : {l2}") #printing the list after slicing operation

The original list [1, 2, 3, 4, 5, 6, 7, 8, 9]
After slicing operation generated list is : [3, 5, 7]

In [52]:
#Slicing operation on tuple

t1 =(1,2,3,4,5,6,7,8,9) # tuple created and stored in t1 variable
print(f"The original tuple {s1}")
t2 = t1[0:7:2] # slicing operation [start_value:end_value:step]
print(f"After slicing operation generated tuple is : {t2}") #printing the list after slicing operation

The original tuple (1, 2, 3, 4, 5, 6, 7, 8, 9)
After slicing operation generated tuple is : (1, 3, 5, 7)

In [55]:
#Slicing operation on string

str1 ='This is string' # list created and stored in str1 variable
print(f"The original string is: {str1}")
str2=str1[2:7:2] # slicing operation [start_value:end_value:step]
print(f"After slicing operation generated string is : {str2}") #printing the string after slicing operation

The original string is: This is string
After slicing operation generated string is : i s

In [63]:
#Dictionary can be accesed using index i.e key
i = {                                 #Creating the dictionary and storing in i variable
    'name':'ketan',                 
    'age':22,
    'college':'fuel',
    'branch':"AI"
}
print(i) # printing the dictionary
i2 = i['name']  # accesing the dictionary using key
print(i2)      # printing the value of key

{'name': 'ketan', 'age': 22, 'college': 'fuel', 'branch': 'AI'}
ketan

In [64]:
# Even and odd list using for and if else loop
even = []
odd = []
for i in range(1,20):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(f" Even list: {even} \n Odd List: {odd}")

 Even list: [2, 4, 6, 8, 10, 12, 14, 16, 18]
 Odd List: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [74]:
# Typecasting
# Int to float and viceversa

a = 12
b =  float(a)
print(b)
print(type(b))

#float to Int:
a = 12.34
b =  int(a)
print(b)
print(type(b))

12.0
<class 'float'>
12
<class 'int'>

In [75]:
# int to string and viceversa

a = 23
b = str(a)
print(b)
print(type(b))

a = 34
b = str(a)
c = int(b)
print(b)
print(type(c))

23
<class 'str'>
34
<class 'int'>

In [78]:
# float to string and viceversa

a = 23.34
print(f" {a}\n{type(a)}\n After type casting")
b = str(a)
print(f" b = {b} and it's type is {type(b)}")

c = float(b)
print(f" c = {c} and it's type is {type(c)}")

 23.34
<class 'float'>
 After type casting
 b = 23.34 and it's type is <class 'str'>
 c = 23.34 and it's type is <class 'float'>

In [80]:
# String to list,Set,Tuple

a = 'abcd'
print(a)
print(f"{type(a)}\n After type casting")
b = list(a)
print(f" b = {b} and it's type is {type(b)}")

c = set(a)
print(f" c = {c} and it's type is {type(c)}")

d = tuple(a)
print(f" d = {d} and it's type is {type(d)}")

abcd
<class 'str'>
 After type casting
 b = ['a', 'b', 'c', 'd'] and it's type is <class 'list'>
 c = {'d', 'c', 'a', 'b'} and it's type is <class 'set'>
 d = ('a', 'b', 'c', 'd') and it's type is <class 'tuple'>

In [84]:
# List to tuple 

a = ['a', 'b', 'c', 'd']
print(a)
print(f"{type(a)}\n After type casting")
b = tuple(a)
print(f" b = {b} and it's type is {type(b)}")

['a', 'b', 'c', 'd']
<class 'list'>
 After type casting
 b = ('a', 'b', 'c', 'd') and it's type is <class 'tuple'>

In [83]:
# Set To Tuple

a = {'b', 'd', 'c', 'a'}
print(a)
print(f"{type(a)}\n After type casting")
b = tuple(a)
print(f" b = {b} and it's type is {type(b)}")

{'c', 'a', 'b', 'd'}
<class 'set'>
 After type casting
 b = ('c', 'a', 'b', 'd') and it's type is <class 'tuple'>

In [86]:
# List To Dictionary

a = [(1,'Ketan'), (2,'Kailas'),(3,'Ohal')]
print(a)
print(f"{type(a)}\n After type casting")
b = dict(a)
print(f" b = {b} and it's type is {type(b)}")

[(1, 'Ketan'), (2, 'Kailas'), (3, 'Ohal')]
<class 'list'>
 After type casting
 b = {1: 'Ketan', 2: 'Kailas', 3: 'Ohal'} and it's type is <class 'dict'>

In [87]:
# Set to Dictionary

a = {(1,2),(2,3),(4,5)}
print(a)
print(f"{type(a)}\n After type casting")
b = dict(a)
print(f" b = {b} and it's type is {type(b)}")

{(2, 3), (4, 5), (1, 2)}
<class 'set'>
 After type casting
 b = {2: 3, 4: 5, 1: 2} and it's type is <class 'dict'>

In [89]:
#Dictionary to list

a = {2: 3, 4: 5, 1: 2}
print(a)
print(f"{type(a)}\n After typecasting")
b = list(a)
print(f" b = {b} and it's type is {type(b)}")

{2: 3, 4: 5, 1: 2}
<class 'dict'>
 After typecasting
 b = [2, 4, 1] and it's type is <class 'list'>

In [90]:
#list Operation
"""
append - to insert the element at last node
extend - to add the elemenent at last
insert - to add the element at specific index

"""
ls = [1,2,3,4,5,6]
print(f"This is Default list {ls}")
ls.append(3)
print(f"After using append operation{ls}")
ls.extend([7,8,9])
print(f"After using extend operation{ls}")
ls.insert(2,2)
print(f"After using insert operation{ls}")

This is Default list [1, 2, 3, 4, 5, 6]
After using append operation[1, 2, 3, 4, 5, 6, 3]
After using extend operation[1, 2, 3, 4, 5, 6, 3, 7, 8, 9]
After using insert operation[1, 2, 2, 3, 4, 5, 6, 3, 7, 8, 9]

In [68]:
# functions

def calculator():
    
        num1 = int(input("Enter first number"))
        num2 = int(input("Enter second number for calculation"))
        operation = input("Enter the no. of operation you want to perform: \n 1.Addition \n 2.Substraction \n 3.Multiplication \n 4.Division\n")
        if operation == '1':
            add = num1 + num2
            print(add) 
        elif operation == '2':
            sub = num1 - num2
            print(sub)
        elif operation == '3':
            mul = num1 * num2
            print(mul)
        elif operation == '4':
            print(num1/num2)
        else:
            print("Please enter with valid response")
calculator()

Enter first number14
Enter second number for calculation45
Enter the no. of operation you want to perform:
 1.Addition
 2.Substraction
 3.Multiplication
 4.Division
1
59